.header__logo {
  width: 142px;
  height: 33px;
  transition: opacity .3s ease-in-out;
}

.header__logo:hover {
  opacity: 0.7;
}

@media (max-width: 425px) {
  .header__logo {
    width: 104px;
    height: 24px;
    margin-left: 27px;
  }
}
