.profile__add {
  width: 150px;
  height: 51px;
  background: url(../../../images/add.svg) center / 22px no-repeat;
  border: 2px solid #fff;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
}

.profile__add:hover {
  opacity: 0.6;
}

@media (max-width: 650px) {
  .profile__add {
    width: 100%;
    background: url(../../../images/add.svg) center / 16px no-repeat;
  }
}
