.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background: url(../../../images/close.svg) center;
  border: none;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
}

.popup__close:hover {
  opacity: 0.6;
}

@media (max-width: 520px) {
  .popup__close {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
    background: url(../../../images/close_mobile.svg) center;
  }
}
