.elements__like {
  width: 22px;
  height: 19px;
  background: url(../../../images/like.svg) center;
  border: none;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
}

.elements__like:hover {
  opacity: 0.5;
}
